<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="stylesheets/commentStyle.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/exerciseStyle.css">
</head>
<body>
	<input type="button" value="开始答题" class="beginBtn">
	<div class="questionBlock">
		<!-- <h1 class="title"></h1>
		<div class="content"></div> -->
		<div class="totalQues"></div>
		<div>
			<input type="button" value="preview" class="preview">
			<input type="button" value="next" class="next">
		</div>
	</div>

	<div class="showScoreBlock">
		<div class="showTotalScore"></div>
		<div><input type="button" value="查看分数详情" class="showScoreDetail"></div>
	</div>
	<script src="javascripts/jquery.min.js"></script>
	<script src="javascripts/exerciseJS.js"></script>
</body>
</html>