<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="stylesheets/commentStyle.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/loginStyle.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/findPswStyle.css">
</head>
<body>
	<div class="tips"></div>
	<section class="outer">
		<div class="title">找回密码</div>
		<div>问题1：
			<select class="select1">
				<option>你父亲的名字是？</option>
				<option>你QQ是？</option>
			</select>
		</div>
		<div>答案：<input type="text" class="answer1"></div>
		<div>问题2：
			<select class="select2">
				<option>你母亲的名字是？</option>
				<option>你手机号码是？</option>
			</select>
		</div>
		<div>答案：<input type="text" class="answer2"></div>
		<div>问题3：
			<select class="select3">
				<option>你班主任的名字是？</option>
				<option>你的宠物的名字是？</option>
			</select>
		</div>
		<div>答案：<input type="text" class="answer3"></div>
		<div>
			<input type="button" value="GO" class="findPswBtn">
		</div>
	</section>
	<script src="javascripts/jquery.min.js"></script>
	<script src="javascripts/commentJS.js"></script>
	<script src="javascripts/findPswJS.js"></script>
</body>
</html>