<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="stylesheets/commentStyle.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/indexStyle.css">
</head>
<body>
	<header class="toolbar">
		<div class="logo">PRATICE</div>
		<div class="time">00:00</div>
		<section class="userInfo">
			<input type="button" value="错题" class="errorExercise">
			<div class="userImg"></div>
			<img class="userSetting" src="image/set_press.png">
		</section>
	</header>

	<script src="javascripts/jquery.min.js"></script>
	<script src="javascripts/indexJS.js"></script>
</body>
</html>