<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="stylesheets/commentStyle.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/indexStyle.css">
</head>
<body>
	<header class="toolbar">
		<div class="logo">PRATICE</div>
		<div class="time">00:00</div>
		<section class="userInfo">
			<input type="button" value="错题" class="errorExercise">
			<div class="userImg">
				<div class="showUsername">SunnyHutes</div>
			</div>
		</section>
	</header>

	<section class="naviSec">
		<div class="tab"></div>

		<nav class="navigation">
			>>>>>
			<div class="home"></div>
		</nav>
	</section>

	<section class="subject">
		<!-- <section>
			<div>
				<div>java</div>
				<input type="button" value="X" class="remove">
			</div>
		</section>
		<section>
			<div>
				<div>C++</div>
				<input type="button" value="X" class="remove">
			</div>
		</section>
		<section>
			<div>
				<div>javascript</div>
				<input type="button" value="X" class="remove">
			</div>
		</section> -->
		
		<div class="addSubject">+</div>
	</section>

	<footer>
		<div class="message">
			<span class="author">Email:18824167803@163.com</span>|
			<span class="telphone">Tel:18824167803</span>
		</div>
		<div class="copyright">Copyright©2016-2017 SunnyHu</div>
	</footer>

	<script src="javascripts/jquery.min.js"></script>
	<script src="javascripts/commentJS.js"></script>
	<script src="javascripts/indexJS.js"></script>
</body>
</html>