<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="stylesheets/commentStyle.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/indexStyle.css">
</head>
<body>
	<h1>题型选择</h1>
	<nav>
		<ul>
			<li><a href="/exercise?type=javaScript">JavaScript</a></li>
			<li><a href="/exercise?type=java">java</a></li>
			<li><a href="/exercise?type=c_c++">c/c++</a></li>
		</ul>
	</nav>

	<script src="javascripts/jquery.min.js"></script>
	<script src="javascripts/indexJS.js"></script>
</body>
</html>