<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="stylesheets/commentStyle.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/loginStyle.css"></link>
</head>
<body>
	<div class="outer">
		<div>账号：<input type="text" class="username"></div>
		<div>密码：<input type="password" class="password"></div>
		<div>
			<input type="radio" name="identity" value="teacher" id="teacher">
			<label for="teacher">老师</label> &nbsp; &nbsp; 
			<input type="radio" name="identity" value="student" id="student">
			<label for="student">学生</label>
		</div>
		<div>
			<input type="button" value="注册" class="register">
			<input type="button" value="忘记密码？" class="findPsw">
		</div>
	</div>
	<script src="javascripts/loginJs.js"></script>
</body>
</html>