<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv=X-UA-Compatible content=IE=EmulateIE10>
	<meta http-equiv=X-UA-Compatible content=IE=10>
	
	<link rel="stylesheet" type="text/css" href="stylesheets/commentStyle.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/loginStyle.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/registerStyle.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/findPswStyle.css">
</head>
<body>
	<section class="outer">
		<div class="title">注册</div>
		<section class="firstStep">
			<div>账号：<input type="text" class="username" placeholder="请输入手机号" maxlength=11></div>
			<div>密码：<input type="password" class="password"></div>
			<div>确认密码：<input type="password" class="pswConfirm"></div>
			<div>
				<input type="radio" name="identity" value="teacher" id="teacher" checked>
				<label for="teacher">老师</label> &nbsp; &nbsp; 
				<input type="radio" name="identity" value="student" id="student">
				<label for="student">学生</label>
			</div>
			<div><input type="button" value="下一步" class="nextStep"></div>
		</section>
		<section class="secondStep">
			<div>问题1：
				<select class="select1">
					<option>你父亲的名字是？</option>
					<option>你QQ是？</option>
				</select>
			</div>
			<div>答案：<input type="text" class="answer1"></div>
			<div>问题2：
				<select class="select2">
					<option>你母亲的名字是？</option>
					<option>你手机号码是？</option>
				</select>
			</div>
			<div>答案：<input type="text" class="answer2"></div>
			<div>问题3：
				<select class="select3">
					<option>你班主任的名字是？</option>
					<option>你的宠物的名字是？</option>
				</select>
			</div>
			<div>答案：<input type="text" class="answer3"></div>
			<div>
				<input type="button" value="上一步" class="previousStep">
				<input type="button" value="注册" class="registerConfirm">
			</div>
		</section>
	</section>
	<script src="javascripts/jquery.min.js"></script>
	<script src="javascripts/commentFunction.js"></script>
	<script src="javascripts/registerJS.js"></script>
</body>
</html>