<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="stylesheets/ShortAnswerHelpStyle.css">
	</head>
	<body>
		<header>简答题规则说明：</header>
		<div class="details">
			<p>①大括号（{}）：表示该句子所占的分值，例：数据的逻辑结构不改变{3}，表示该句子占3分。</p>
			<p>②（中文）中括号+小括号（【（）】）：表示该词所占分值，例：数据的逻辑结构【不改变（3）】，表示不改变占3分。</p>
		</div>
		<div><span class="ps">PS：</span>非试卷简答题，不需要有以上任何分值的说明，但试卷简答题最好按照以上说明细化给分规则以增加给分准确度。</div>
	</body>
</html>