a {
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

body {
	/*background: #333;*/
	/*background: #f5f5f5;*/
	background: #f2f2f5;
}

.body {
	position: relative;
	top: 150px;
	left: 50%;
	width: 900px;
	margin: 0 0 150px 0;
	overflow: hidden;
	transform: translateX(-50%);
}

pre {
	white-space: pre-wrap;
	word-wrap: break-word;
}

input[type=button], input[type=submit] {
	height: 35px;
	border: none;
	outline: none;
	line-height: 35px;
	font-size: 20px;
	color: #fff;
	cursor: pointer;
	transition: 0.3s all linear;
}

.disable {
	background-color: #dbd0d0 !important;
	color: #000 !important;
}

.textInput {
	display: inline-block;
	width: 250px;
	padding: 0 2px;
	font-size: 23px;
	border: none;
	border-bottom: 1px solid #000;
	outline: none;
	background: transparent;
	color: #000;
}

.tips {
	position: fixed;
	width: 100%;
	height: 0;
	left: 0;
	top: 0;
	overflow: hidden;
	background: #2e3033;
	text-align: center;
	line-height: 50px;
	font-size: 23px;
	color: #fff;
	z-index: 500;
	transition: 0.5s all linear;
}

.toolbarDisable {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	background: rgba(255, 255, 255, 0.3);
	z-index: 200;
}

.toolbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	overflow: hidden;
	line-height: 100px;
	/*background: #222;*/
	background: #000;
	z-index: 100;
}

.typeNav {
	position: fixed;
	top: 70px;
	left: 0;
	width: 13%;
	height: 100%;
	text-align: center;
	font-size: 20px;
	font-family: "幼圆";
	color: #fff;
	background: #000;
}

.navContent {
	position: relative;
	top: 50px;
}

.navContent > div {
	padding: 20px 0;
	cursor: pointer;
}

.navContent > div:first-child {
	background: rgba(249, 90, 78, 0.8);
}

.navContent > div:hover {
	background: rgba(249, 90, 78, 0.8) !important;
}

.navContent div+div {
	border-top: 1px solid #7a7a7b;
}

.showTitle {
	display: none;
}

.time {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 23px;
	color: #fff;
}

.usersManage {
	display: none;
	position: relative;
	top: -10px;
	margin-right: 50px;
	float: right;
}

.usersManage > input {
	height: 30px;
	padding: 0 10px;
	border-radius: 10px;
	font-size: 17px;
	line-height: 30px;
	background: rgba(255, 0, 0, 0.7);
	transition: 0.3s all linear;
}

.usersManage > input:hover {
	background: red;
}

.userInfo {
	position: absolute;
	right: 0;
	margin: 0 20px;
}

.userInfo div {
	display: inline-block;
}

.errorExercise {
	position: relative;
	display: inline-block;
	padding: 0 10px;
	border-radius: 10px;
	background: red;
	color: #fff;
}

.errorExercise:hover {
	background: rgba(255, 0, 0, 0.5);
}

.userImg {
	position: relative;
	/*top: 20px;*/
	top: 10px;
	right: 50px;
	/*width: 60px;
	height: 60px;*/
	width: 50px;
	height: 50px;
	margin: 0 0 0 20px;
	float: right;
	overflow: hidden;
	border: 1px solid #fff;
	border-radius: 50%;
	/*background-image: url("../image/userImg1.png");*/
	background-size: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.showUsername {
	/*width: 60px;
	height: 60px;*/
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
	/*line-height: 60px;*/
	line-height: 50px;
	text-align: center;
	font-family: "Chiller";
	/*font-size: 20px;*/
	font-size: 17px;
	color: #fff;
	background: rgba(34, 34, 34, 0.7);
	opacity: 0;
	transition: 0.5s all linear;
}

.showUsername:hover {
	opacity: 1;
}

.naviSec {
	position: fixed;
	z-index: 100;
}

.tab {
	display: none;
	position: fixed;
	/*top: 82px;
	width: 80px;
	height: 80px;*/
	top: 25px;
	width: 60px;
	height: 60px;
	background: url(../image/tab.png);
	background-size: 120%;
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.navigation {
	position: fixed;
	/*top: 35px;*/
	top: 15px;
	left: 15px;
	/*height: 0;*/
	/*opacity: 0;*/
	overflow: hidden;
	padding: 3px 20px;
	/*border-bottom: 1px solid #fff;*/
	font-size: 18px;
	color: #fff;
	/*background: #222;*/
	transition: 0.5s all linear;
}

.navigation div {
	display: inline-block;
	margin: 0 10px;
	cursor: pointer;
}

.home {
	width: 30px;
	height: 30px;
	background: url(../image/home.png);
	background-size: 100%;
	background-position: center center;
	background-repeat: no-repeat;
}

.link {
	margin: 0 20px;
	font-size: 30px;
	color: #fff;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 85px;
	overflow: hidden;
	text-align: center;
	font-size: 18px;
	color: #fff;
	/*background: #222;*/
	/*background: #838485;*/
	background: #2e3033;
	z-index: 100;
}

footer div {
	margin: 15px 0 0;
}

.message span {
	display: inline-block;
	margin: 0 30px;
}

.winBg, .showLoadingWin {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	font-size: 23px;
	/*background: rgba(255, 255, 255, 0.3);*/
	background: rgba(0, 0, 0, 0.7);
	z-index: 200;
}
.showLoadingWin {
	display: block;
	background: #fff;
}

.win {
	position: fixed;
	width: 400px;
	height: 250px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	border-radius: 20px;
	background: rgba(255, 255, 255, 0.9);
	/*background: #fff;*/
}

.winContentBg {
	height: 140px;
	margin: 30px;
}

.winContent {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.btnContent {
	position: relative;
	width: 100%;
	height: 50px;
	border-top: 1px solid #000;
	text-align: center;
	line-height: 50px;
}

.btnContent input {
	display: inline-block;
	width: 200px;
	height: 50px;
	margin: 0 !important;
	padding: 0 !important;
	color: #000;
	background: transparent;
}

.btnContent input:hover {
	background: rgba(0, 0, 0, 0.2);
}

.okBtn {
	float: left;
	border-radius: 0 0 0 20px;
	border-right: 1px solid #000 !important;
}

.cancelBtn {
	float: right;
	border-radius: 0 0 20px 0;
}

.identity {
	display: none;
}

.loading {
	width: 25px;
	height: 25px;
	background-image: url("../image/loading.gif");
	background-size: 100%;
	background-position: center center;
	background-repeat: no-repeat;
}

.showLoadingWin .loading {
	position: absolute;
	width: 9%;
	height: 30%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background-image: url("../image/big_loading.gif");
	background-size: 100%;
	background-position: center center;
	background-repeat: no-repeat;
}

.hidden {
	display: none;
}