.praticeContent {
	top: 100px;
	width: 70%;
	margin: 0 0 80px 0;
	font-size: 21px;
	color: #000;
}

.title, .answer > div, .choiceAnswerBlock {
	/*height: 35px;*/
	padding: 20px;
	border: 1px dashed #dbd0d0 !important;
	border-radius: 5px;
	line-height: 35px;
	/*background: rgba(34, 34, 34, 0.6);*/
	background: #fff;
}

.inputBlock, .outputBlock, .programmingTypeMode {
	margin: 20px 0;
	padding: 0 20px;
	border: 1px dashed #dbd0d0;
	background: #fff;
	font-size: 18px;
}

.programmingTypeMode {
	padding: 15px 20px;
	color: orange;
}

.inputBlock > div, .outputBlock > div {
	margin: 15px 0;
}

.longAnswer > div {
	border: none;
}

.title {
	margin: 0 0 30px;
}

.answer > div, .choiceAnswerBlock {
	margin: 10px 0;
}

.answer textarea {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: 95%;
	height: 200px;
	font-size: 18px;
}

.num, .titleNum {
	display: inline-block;
	width: 35px;
	margin: 0 30px 0 0;
	border: 1px solid #fff;
	border-radius: 50%;
	text-align: center;
	color: #000;
	background: #e8eaed;
}

.titleNum {
	border-radius: 10px;
}

.flip {
	position: relative;
	/*width: 150px;*/
	left: 50%;
	margin: 50px 0 0 0;
	overflow: hidden;
	transform: translateX(-50%);
}

.previous, .next, .runningBtn {
	width: 100px;
	height: 40px !important;
	/*padding: 0 15px;*/
	border-radius: 5px;
	background: rgba(67, 135, 253, 0.6);
}

.runningBtn {
	margin: 20px 0 0;
	color: #000 !important;
	background: orange;
}

.previous:hover, .next:hover {
	background: rgba(67, 135, 253, 0.8);
}

.runningBtn:hover {
	background: rgba(255, 165, 0, 0.9);
}

.runningResult {
	margin: 20px 0 0;
	padding: 20px;
	color: #fff;
	background: #000;
}

.runningContent {
	margin: 20px 0 0;
}

.previous {
	float: left;
}

.next {
	float: right;
}

.currentPage {
	display: inline-block;
	width: 50px;
	position: absolute;
	left: 50%;
	clear: both;
	line-height: 35px;
	font-size: 25px;
	transform: translateX(-50%);
}

.showPraticeBlockIndex {
	display: none;
	height: 50px;
	margin: 0 0 50px 0;
	text-align: center;
	line-height: 50px;
}

.showPraticeIndex {
	margin: 0 0 50px 0;
}

.showPraticeBlockIndex > div {
	display: inline-block;
	width: 150px;
	/*border: 1px solid #fff;*/
	font-size: 20px;
	background: #e8eaed;
	cursor: pointer;
	transition: 0.5s all linear;
}

.showPraticeIndex > div {
	display: inline-block;
	width: 50px; 
	height: 50px;
	border: 1px solid #fff;
	border-radius: 10px;
	text-align: center;
	line-height: 50px;
	/*color: #fff;*/
	cursor: pointer;
	transition: 0.5s all linear;
}

.showPraticeIndex > div:first-child, .showPraticeBlockIndex > div:first-child {
	background: rgba(249, 90, 78, 0.8);
}

.showPraticeIndex > div:hover, .showPraticeBlockIndex > div:hover {
	background: rgba(249, 90, 78, 0.8) !important;
}

.answerBlock, .choiceAnswerBlock {
	overflow: hidden;
	background: #e8eaed !important;
}

.answerBlock {
	margin: 20px 0;
}

.choiceAnswerBlock {
	font-size: 18px;
	transition: 0.3s all linear;
}

.answerBlock > div {
	margin: 25px;
}

.showAnswer {
	cursor: pointer;
}

.icon {
	margin: 0 30px;
}

.answerBlock > .answerContent {
	display: none;
}

.choiceAnswerBlock > .answerContent {
	margin: 10px 0;
}

.help {
	float: right;
	color: red;
	text-decoration: underline;
}

.answer > .correctChoiceBorder {
	border: 1px solid red !important;
}

.correctLogo, .errorLogo {
	display: inline-block;
	position: relative;
	width: 25px;
	height: 25px;
	float: right;
	background-size: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.correctLogo {
	background-image: url("../image/correct.png");
}

.errorLogo {
	background-image: url("../image/error.png");
}

.showScoreDetails {
	margin: 20px 0 0;
	border: 1px dashed #dbd0d0 !important;
	border-radius: 5px;
	font-family: "楷体";
	font-size: 20px;
	color: rgba(0, 0, 0, 0.7);
	background: #e8eaed !important;
}

.showScoreDetails > div {
	padding: 20px;
}

.showScoreDetails > div+div {
	border-top: 1px solid rgba(255, 255, 255, 0.5);
}

pre {
	margin: 20px 0 0;
}

.ShortAnswer .showScoreDetails pre {
	text-indent: 44px;
	font-family: "楷体";
}

.score, .studentAnswer, .correctAnswer {
	font-size: 22px;
	color: #000;
}

.showScoreDetails .score {
	color: red;
}

.ShortAnswerTips {
	text-indent: 28px;
	font-size: 14px;
	color: orange;
}