.questionBlock {
	display: none;
}

.runTest {
	display: block;
}

.blankStyle {
	display: inline-block;
	margin: 20px;
}

.blankAnswer {
	width: 200px;
	border: none;
	border-bottom: 1px solid;
}

.showScoreBlock {
	display: none;
}

.showTotalScore {
	margin: 20px 0;
	font-size: 25px;
	font-weight: bold;
}

.showAnswer {
	font-weight: bold;
}