select {
	width: 224px;
	border-radius: 10px;
	outline: none;
	font-size: 23px;
}

.outer > section {
	overflow: hidden;
	transition: 0.3s all linear;
}

.findPswBtn {
	width: 80px;
	border-radius: 10px;
	background: rgba(67, 135, 253, 0.5);
}

.secondStep {
	height: 0;
}

.thirdStep {
	height: 0;
}