select {
	width: 380px;
	border-radius: 10px;
	outline: none;
	font-size: 20px;
}

.outer > section {
	overflow: hidden;
	transition: 0.3s all linear;
}

.findPswBtn {
	width: 120px;
	border: 1px solid #e5e5e5 !important;
	box-shadow: 1px 2px rgba(69, 133, 242, 0.8);
	border-radius: 10px;
	background: rgba(69, 133, 242, 0.6);
}

.findPswBtn:hover {
	background: rgba(69, 133, 242, 0.8);
}

.secondStep {
	height: 0;
}

.thirdStep {
	height: 0;
}