.toolbar {
	position: absolute;
	height: 500px;
}

.showTitle {
	display: block;
	position: relative;
	width: 100%;
	top: 18%;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	line-height: 70px;
	color: #fff;
}

.showTitle > .title {
	margin: 10px 0 0 0;
	font-family: "华文琥珀";
	font-size: 45px;
	font-weight: 700;
	letter-spacing: 10px;
	/*color: #9a8c69;*/
}

.showTitle > .detail {
	/*font-family: "Brush Script Std";*/
	/*font-family: "MV Boli";*/
	/*font-family: "楷体";*/
	font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
	font-size: 30px;
	font-weight: 200;
}

.userImg {
	position: absolute;
	width: 120px;
	height: 120px;
	top: 55%;
	left: 0;
	right: 0;
	margin: auto;
}

.showUsername {
	width: 120px;
	height: 120px;
	line-height: 150px;
	font-size: 40px;
}

.usersManage {
	position: absolute;
	left: 50%;
	top: 87%;
	clear: both;
	transform: translate(-50%, -50%);
	font-size: 23px;
	color: #fff;
}

.usersManage > input {
	height: 35px;
	font-size: 20px;
	line-height: 35px;
}

.naviSec {
	display: none;
}

.subject {
	width: 72%;
	top: 550px;
	left: 50%;
	margin: 0 0 50px 0;
	transform: translateX(-50%);
}

.subject > section, .subject > div {
	display: inline-block;
	float: left;
	width: 220px;
	height: 222px;
	margin: 5px;
	border: 1px solid #e8eaed;
	box-shadow: 1px 3px 5px #e0e3e6;
	/*line-height: 178px;*/
	text-align: center;
	font-size: 25px;
	color: #000;
	background-color: #fff;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s linear;
}

.main {
	height: 80%;
	overflow: hidden;
}

.subjectName {
	position: relative;
	top: 50%;
	/*left: 50%;*/
	transform: translateY(-50%);
}

.updateTime {
	height: 20%;
	border-radius: 0 0 5px 5px;
	/*background-color: #e8eaed !important;*/
	/*background-color: #71777d !important;*/
	line-height: 45px;
	font-size: 13px;
	background-color: #cccfd1 !important;
}

.addSubject {
	/*position: relative;
	top: -70px;*/
	line-height: 222px !important;
	font-size: 110px !important;
	background: rgba(255, 255, 255, 0.3) !important;
	transition: 0.3s all linear;
}

.addSubject:hover {
	/*background: rgba(0, 0, 0, 0.1) !important;*/
	background: #cccfd1 !important;
}

.remove, .modify {
	display: inline-block;
	position: relative;
	top: -45px;
	right: 10px;
	width: 25px;
	height: 25px !important;
	float: right;
	margin: 10px 0;
	padding: 0;
	border-radius: 50%;
	text-align: center;
	line-height: 25px !important;
	font-size: 25px !important;
	color: red !important;
	/*background: red;*/
	opacity: 0;
	transition: 0.1s all linear;
}

.modify {
	left: 10px;
	float: left;
	background-image: url("../image/pen.png");
	background-size: 80%;
	background-position: center center;
	background-repeat: no-repeat;
}

.remove:hover, .modify:hover {
	background-color: rgba(0, 0, 0, 0.3);
}