/*.typeNav {
	position: relative;
	top: 100px;
	left: 50%;
	width: 450px;
	transform: translateX(-50%);
}

.typeNav div {
	display: inline-block;
	width: 150px;
	height: 50px;
	margin: 0 -5px;
	border-radius: 5px;
	text-align: center;
	line-height: 50px;
	font-size: 18px;
	cursor: pointer;
	transition: 0.3s all linear;
}

.typeNav div:hover {
	background: rgba(249, 90, 78, 0.8) !important;
	color: #fff;
}

.typeNav .chapter {
	background: rgba(249, 90, 78, 0.8);
	color: #fff;
}*/
.typeNav {
	position: fixed;
	top: 50px;
	left: 0;
	width: 13%;
	height: 100%;
	text-align: center;
	font-size: 20px;
	font-family: "幼圆";
	color: #fff;
	background: #000;
}

.navContent {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.navContent > div {
	padding: 20px 0;
	cursor: pointer;
}

.navContent > div:first-child {
	background: rgba(249, 90, 78, 0.8);
}

.navContent > div:hover {
	background: rgba(249, 90, 78, 0.8) !important;
}

.navContent div+div {
	border-top: 1px solid #7a7a7b;
}

/*.praticeContent {
	top: 200px;
}

.praticeContent aside {
	width: 20%;
	float: left;
	overflow-y: auto;
	text-align: center;
	font-size: 20px;
	color: #fff;
}

.praticeContent aside ul {
	border: 1px solid #fff;
	background: rgba(0, 0, 0, 0.5);
}

.praticeContent aside li, .addMore {
	width: 100%;
	height: 46px;
	text-align: center;
	line-height: 46px;
	font-size: 23px;
	cursor: pointer;
	transition: 0.5s all linear;
}

.addMore {
	margin: 20px 0;
	background: rgba(255, 255, 255, 0.4);
	transition: 0.5s all linear;
}

.addMore:hover {
	background: rgba(255, 255, 255, 0.7);
}

.praticeContent aside li.select {
	background-color: rgba(164, 205, 51, 0.4) !important;
}

.praticeContent aside li:hover {
	background-color: rgba(164, 205, 51, 0.4) !important;
}

.praticeContent aside li+li {
	border-top: 1px solid #fff;
}*/

.praticeContent {
	position: relative;
	width: 90%;
	top: 100px;
	margin: 0 20px 0 10px;
	float: right;
}

.chapterContent aside ul {
	display: inline-block;
}

.chapterContent > aside > ul > li, .chapterContent .addMore {
	display: inline-block;
	width: 65px;
	height: 65px;
	margin: 0 10px 10px;
	border-radius: 50%;
	text-align: center;
	line-height: 65px;
	font-size: 20px;
	color: #fff;
	background: rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

/*.content {
	width: 70%;
	padding: 0px 20px;
	float: right;
	border: 1px solid #fff;
	border-radius: 10px;
	font-size: 18px;
	color: #fff;
	background: rgba(0, 0, 0, 0.5);
}

.content section {
	padding: 0 0 30px;
	overflow: hidden;
}

.content > section+section {
	border-top: 1px solid #fff;
}

.randomContent .content > section+section {
	border-top: none;
}

.randomContent .showOneType {
	display: none;
}

.randomContent > .content > .SingleChoice {
	display: block;
}

.showEg, .contentDetail, .exerciseCount {
	width: 85%;
	float: left;
}

.showEg > .title {
	font-size: 27px;
}

.exerciseCount {
	margin: 30px 0 0;
	clear: both;
	font-size: 21px;
	color: #5CB099;
}

.enter {
	position: relative;
	top: 50px;
	width: 8%;
	float: right;
	right: 20px;
}

.examinationContent .enter, .randomContent .enter {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 8%;
	float: right;
	right: 20px;
}

.enter input{
	display: inline-block;
	width: 60px;
	height: 40px;
	margin: 10px 0;
	border-radius: 10px;
	background: rgba(67, 135, 253, 0.5);
}

.enter input:hover {
	background: rgba(67, 135, 253, 0.3);
}

.examinationContent {
	display: none;
}

.randomContent {
	display: none;
}


.contentDetail > div+div {
	padding: 20px 0 0;
	border-top: 1px solid #fff;
	line-height: 30px;
}*/

.examinationContent {
	display: none;
}

.randomContent {
	display: none;
}

.content > section, .addMore {
	display: inline-block ;
	width: 220px;
	height: 350px;
	margin: 5px;
	border: 1px solid #e8eaed;
	box-shadow: 1px 3px 5px #e0e3e6;
	text-align: center;
	font-size: 14px;
	color: #000;
	background-color: #fff;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s linear;
}

.content > section {
	float: left;
}

.examinationContent > .content > section, .examinationContent .addMore {
	width: 300px;
	height: 500px;
}

.examinationContent .addMore {
	font-size: 200px;
	line-height: 500px;
}

.addMore {
	display: inline-block !important;
	color: #000 !important;
	background: rgba(255, 255, 255, 0.3) !important;
	transition: 0.3s all linear;
}

.addMore:hover {
	background: #cccfd1 !important;
}

.contentDetail {
	padding: 10px 20px 0;
	text-align: left;
	letter-spacing: 3px;
}

.showEg {
	position: relative;
	height: 300px;
	overflow: hidden;
}

.randomContent .eg {
	margin: 30px 0 0;
}

.randomContent .addMore {
	font-size: 100px;
	line-height: 222px;
}

.exerciseCount {
	height: 50px;
	border-top: 1px solid #e8eaed;
	line-height: 50px;
	color: orange;
}

.showEg > .title {
	height: 50px;
	margin: 0;
	border-radius: 5px 5px 0 0;
	line-height: 50px;
	font-size: 18px;
	background: #cccfd1 !important;
}

.content > section .eg {
	position: relative;
	top: 15%;
	padding: 0 15px;
	/*transform: translateY(-50%);*/
	/*text-align: left;*/
}

.enter {
	display: none;
}

.removeIndex, .modifyBtn {
	display: block;
	/*position: absolute;*/
	left: 157px;
	width: 15px;
	height: 15px !important;
	margin: 6px 0 0 !important;
	float: right;
	margin: 0;
	padding: 0;
	border-radius: 50%;
	text-align: center;
	line-height: 15px !important;
	font-size: 16px !important;
	background: red;
	/*opacity: 0;*/
	transition: 0.1s all linear;
}

.modifyBtn {
	/*top: 20px;*/
	clear: both;
	background-image: url("../image/pen.png");
	background-size: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #fff;
}

.removeIndex:hover {
	background-color: rgba(255, 0, 0, 0.5);
}

.modifyBtn:hover {
	background-color: #dbd0d0;
}