.praticeContent {
	position: relative;
	width: 85%;
	top: 100px;
	float: right;
}

.chapterContent aside {
	margin: 20px 0 40px;
}

.chapterContent aside ul {
	display: inline-block;
	/*float: left;*/
	margin: 0 0 10px;
}

.chapterContent > aside > ul > li.select {
	/*background: rgba(249, 90, 78, 0.8);*/
	/*background: #c9cabb;*/
	background: #fff;
}

.chapterContent > aside > ul > li, .chapterContent .addMore {
	display: inline-block;
	width: 65px;
	height: 65px;
	margin: 0 10px;
	border: 1px solid #e8eaed;
    box-shadow: 1px 3px 5px #e0e3e6;
	border-radius: 50%;
	text-align: center;
	line-height: 65px;
	font-size: 20px;
	/*color: #fff;*/
	background: rgba(255, 255, 255, 0.3);
	/*background: #fff;*/
	cursor: pointer;
}

.chapterContent > .content > section {
	display: none;
}

.examinationContent {
	display: none;
}

.randomContent {
	display: none;
	margin: 100px 0 0 0;
}

.content > section, .addMore {
	display: inline-block ;
	width: 220px;
	height: 350px;
	margin: 5px 2px;
	border: 1px solid #e8eaed;
	box-shadow: 1px 3px 5px #e0e3e6;
	text-align: center;
	font-size: 14px;
	color: #000;
	background-color: #fff;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s linear;
}

.content > section {
	float: left;
}

.examinationContent > .content > section, .examinationContent .addMore {
	width: 300px;
	height: 560px;
	padding: 0 0 20px 0;
}

.examinationContent .addMore {
	font-size: 200px;
	line-height: 500px;
}

.addMore {
	display: inline-block;
	color: #000 !important;
	background: rgba(255, 255, 255, 0.3) !important;
	transition: 0.3s all linear;
}

.addMore:hover {
	background: #cccfd1 !important;
}

.contentDetail {
	padding: 10px 20px 0;
	text-align: left;
	letter-spacing: 3px;
}

.showEg {
	position: relative;
	height: 300px;
	overflow: hidden;
}

.randomContent .eg {
	margin: 30px 0 0;
}

.randomContent .addMore {
	font-size: 100px;
	line-height: 222px;
}

.exerciseCount {
	height: 50px;
	border-top: 1px solid #e8eaed;
	line-height: 50px;
	color: orange;
}

.showEg > .title {
	height: 50px;
	margin: 0;
	border-radius: 5px 5px 0 0;
	line-height: 50px;
	font-size: 18px;
	background: #c9cabb !important;
}

.content > section .eg {
	position: relative;
	top: 15%;
	padding: 0 15px;
	/*transform: translateY(-50%);*/
	/*text-align: left;*/
}

.btnDiv {
	display: none;
	position: absolute;
	width: 100%;
	height: 50px;
	z-index: 2;
	background: rgba(0, 0, 0, 0.3);
}

.chapterContent .btnDiv {
	position: relative;
	top: -100px;
	left: 50%;
	transform: translateX(-50%);
	background: transparent;
}

.chapterContent .removeIndex, .chapterContent .modifyBtn {
	margin: 0 0 0 12px;
}

.removeIndex, .modifyBtn {
	position: relative;
	top: 25px;
	/*position: absolute;*/
	/*left: 157px;*/
	width: 15px;
	height: 15px !important;
	margin: -5px 15px;
	float: left;
	/*margin: 0 10px;*/
	padding: 0;
	border-radius: 50%;
	text-align: center;
	line-height: 15px !important;
	font-size: 16px !important;
	background: red;
	/*opacity: 0;*/
	transition: 0.1s all linear;
}

.modifyBtn {
	/*top: 20px;*/
	clear: both;
	background-image: url("../image/pen.png");
	background-size: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #fff;
}

.examinationContent .modifyBtn {
	float: left;
}

.examinationContent .removeIndex {
	float: right;
}

.randomContent .modifyBtn {
	float: right;
}

.removeIndex:hover {
	background-color: rgba(255, 0, 0, 0.5);
}

.modifyBtn:hover {
	background-color: #dbd0d0;
}