.pswConfirm {
	display: inline-block;
	width: 202px !important;
	font-size: 23px;
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
	background: transparent;
	font-family: "幼圆";
	color: #fff;
}

.nextStep, .previousStep, .registerConfirm {
	width: 120px;
	border-radius: 10px;
	background: rgba(69, 133, 242, 0.9);
}

.nextStep:hover, .registerConfirm:hover {
	background: rgba(69, 133, 242, 1);
}

.previousStep {
	background: rgba(142, 173, 46, 0.9);
}

.previousStep:hover {
	background: rgba(142, 173, 46, 1);
}

.firstStep, .secondStep {
	margin: 0 !important;
	overflow: hidden;
	transition: 1s height linear;
}

.firstStep {
	/*height: 0;*/
}

.secondStep {
	height: 0;
}