.settingsContent {
	top: 150px;
	/*width: 40%;*/
	padding: 40px 0;
	font-family: "幼圆";
	font-size: 23px;
	color: #fff;
}

.settingsContent aside {
	width: 25%;
	float: left;
	text-align: center;
}

.settingsContent aside ul {
	border: 1px solid #fff;
	border-radius: 10px;
}

.settingsContent aside ul li {
	height: 70px;
	line-height: 70px;
	transition: 0.5s all linear;
	cursor: pointer;
}

.settingsContent aside ul li:hover {
	background-color: rgba(249, 90, 78, 0.5);
}

.settingsContent aside ul li:first-child {
	border-radius: 10px 10px 0 0;
	background-color: rgba(249, 90, 78, 0.5);
}

.settingsContent aside ul li:last-child {
	border-radius: 0 0 10px 10px;
}

.settingsContent aside ul li+li {
	border-top: 1px solid #fff;
}

.settingsContent aside .modify, .info {
	top: 23px !important;
	float: right;
	margin: 0 10px 0 0 !important;
}

.settingsContent aside .modify:hover {
	background-color: #fff;
}

.content {
	width: 58%;
	padding: 30px 50px;
	float: right;
	border: 1px solid #fff;
	border-radius: 10px;
}

.content > div {
	height: 50px;
	line-height: 50px;
}

.userImgBlock {
	height: 80px !important;
	overflow: hidden;
}

.showUserImg {
	display: inline-block;
	position: relative;
	left: 50%;
	width: 60px;
	height: 60px !important;
	margin: 0 0 20px 0;
	overflow: hidden;
	border: 1px solid #fff;
	border-radius: 50%;
	/*background-image: url("../image/userImg1.png");*/
	background-size: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	transform: translateX(-50%);
	cursor: pointer;
}

.userImgBlock > .modify {
	top: -23px;
	left: 225px;
}

.name {
	display: inline-block;
	width: 100px;
}

.passwordInput {
	display: inline-block;
	width: 80px;
	border: none;
	background: transparent;
	color: #fff;
}

.findPassword {
	display: inline-block;
	margin: 0 20px 0 0;
}

.exitBtn {
	position: relative;
	width: 100px;
	margin: 30px 0;
	border-radius: 10px;
	background: red;
}

.exitBtn:hover {
	background: rgba(255, 0, 0, 0.5);
}

.info, .modify {
	position: relative;
	top: 5px;
	width: 25px;
	height: 25px !important;
	margin: 10px 0;
	border-radius: 50%;
	text-align: center;
	line-height: 25px !important;
	font-size: 25px !important;
	background-color: #fff;
	background-image: url("../image/pen.png");
	background-size: 80%;
	background-position: center center;
	background-repeat: no-repeat;
	transition: 0.1s all linear;
}

.info {
	color: #000 !important;
	background-image: none;
}

.modify:hover {
	background-color: rgba(255, 255, 255, 0.5);
}