.topBar {
	margin-bottom: 50px;
	text-align: center;
}

.usersType {
	/*width: 70%;
	float: left;*/
	/*text-align: center;*/
	margin-bottom: 40px;
}

.usersType > ul > li {
	display: inline-block;
	width: 120px;
	height: 35px;
	margin: 0 -2px;
	border: 1px solid #e8eaed;
	border-radius: 5px;
	box-shadow: 1px 3px 5px #e0e3e6;
	line-height: 35px;
	font-size: 18px;
	color: #8c8c8c;
	background: rgba(255, 255, 255, 0.3);
	cursor: pointer;
	transition: all 0.3s linear;
}

ul > li.teacher {
	color: #000;
	background: #fff;
}

.usersType > ul > li:hover {
	color: #000 !important;
	background: #fff !important;
}

.importExcel {
	display: none;
}

.importExcelBtn {
	width: 80px;
	height: 25px !important;
	border-radius: 3px;
	line-height: 25px !important;
	font-size: 15px !important;
	background: rgba(67, 135, 253, 0.6);
	transition: all 0.3s linear;
}

.importExcel:hover {
	background: rgba(67, 135, 253, 0.8);
}

tbody > tr:hover {
	background: #C9CABB;
}

.className td {
    border-left: none;
    border-right: none;
}

.flip {
	/*width: 70%;*/
	margin-top: 20px;
}

.previous {
	float: left;
}

.showPage {
	position: absolute;
	display: inline-block;
	width: 85px;
	left: 50%;
	transform: translateX(-50%);
	line-height: 25px;
}

.currentPage {
	display: inline-block;
	width: 50px;
	height: 25px;
	float: left;
	margin: 0 5px 0 0;
	border: 1px solid #ccc;
	border-radius: 5px;
	text-align: center;
}

.totalPage {
	padding: 0 0 0 5px;
}

.next {
	float: right;
}

.previous, .next {
	width: 50px;
	height: 30px !important;
	border-radius: 5px;
	background: rgba(67, 135, 253, 0.6);
	line-height: 30px !important;
}

.previous:hover, .next:hover {
	background: rgba(67, 135, 253, 0.8);
}

.btnDiv > .addBtn {
	width: 100%;
	margin: 20px 0 0;
    border: 1px solid #e8eaed;
    border-radius: 5px;
    box-shadow: 1px 3px 5px #e0e3e6;
    background: rgba(255, 255, 255, 0.3) !important;
	transition: 0.3s all linear;
	font-size: 40px;
    color: #000;
}

.btnDiv > .addBtn:hover {
	/*background: rgba(0, 0, 0, 0.1) !important;*/
	background: #cccfd1 !important;
}

.win {
	height: 425px;
}

.winContentBg {
	height: 350px;
	margin: 0;
}

.winContent {
	top: 0;
	transform: translateY(0);
}

.userIdInWin, .nameInWin, .passwordInWin, .classInWin {
	margin: 20px;
	font-size: 18px;
}

.winContent .textInput {
	margin-top: 5px;
}

table.teacherTable {
	display: table;
}